


<section class="contenedor d-flex">
  <div class="row">
  <div *ngFor="let mascotas of mascota" class="card-header d-flex justify-content- between aling-items-center" style="width: 15rem;">
    <div class="row">
      <div class="col">
        <img
          src="assets/imagenes/cat.jpg"
          class="card-img-top"
          alt="..."/>
        <h1><b>{{mascotas.nombre}}</b></h1>
        <ul class="card-text">
          <li>Edad:{{mascotas.edad}}</li>
          <li>Raza:{{mascotas.raza}}</li>
          <li>Sexo:{{mascotas.sexo}}</li>
      </ul>
      <button type="button" [routerLink]="['/adopcion']" (click)="savePersona(mascotas.id_animal)"  class="btn btn-primary">Adoptar</button>
    </div>
  </div>
  </div>
  </div>
</section><br><br><br>